img {
    height: 130px;
    object-fit: cover;
    object-position: center;
}

.content {
    padding: 16px;
}

.content > mat-card {
    width: 200px;
}

.content{
    background-color: #ade8f4;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    
}