.subject-title{
    position: absolute; 
    bottom: 4px;
    left: 20px;
    font-size: 2.5em;
}

.mat-expansion-panel-header h4{
    margin-top:10px; 
    margin-right:10px;
}

.resources-item{
    font-size: 0.9rem;
}

/* Changes tab color */
::ng-deep .mat-ink-bar {
    background-color: #e63946 !important;}